<header>
    <div class="header-logo"><h1>TechFill</h1></div>
    <div class="header-list">
        <ul>
            <li>投稿記事一覧</li>
            <li>ユーザー情報</li>
            <li>ログイン</li>
        </ul>
    </div>
</header>


<div class="top-main">
    <div class="top-message">
        <h1>TechFill</h1>
        <h2>記事の投稿と学習を両立できるプラットフォーム</h2>
    </div>
    <div class="top-text">
        <p>TechFillは、技術記事の共有と学習内容の定着を促進するWebサービスです。</p>
        <p>記事内の重要な部分を穴埋め形式の問題として作成をすることができます。
        <p>穴埋め問題を使ってユーザーが自らの知識をアウトプットすることで、理解度の向上と知識の定着を図ります。</p>
    </div>
    <div class="top-box">新規登録はこちら</div>
</div>

<footer>
</footer>

 